.row
  .col-md-12
    %div.pull-right
      = render "recipes/layout_chooser"

.row.recipes-grid
  .col-md-12.recipes-grid-masonry
    - @recipes.each do |recipe|
      .center-align.recipes-grid-card
        .row
          .col-md-12.image-red-mask
            = link_to recipe_path(recipe) do
              = image_tag recipe.image.url, class: 'img-responsive image'
          .col-md-12
            = link_to recipe.name, recipe_path(recipe), class: 'recipe-link'
            = recipe.fork_origin_icon_link
          .col-md-12
            = recipe.tag_links(',', 'shaded')
          .col-md-12
            = recipe.ingredient_links(',', 'shaded')
          = render "recipes/history_modal", recipe: recipe

- if !@recipes_raw.nil? && @recipes_raw.next_page
  .row
    .col-xs-12.text-center#recipes-load-more-activator
      = link_to '', id: 'load-more-items', data: { nextpage: @recipes_raw.next_page, baseurl: request.base_url } do
        = image_tag image_url('more.svg')
      = image_tag image_url('loader.gif'), id: 'load-more-loader'
