%table.table.recipes
  %thead
    %tr
      %th Title
      %th Tags
      %th Ingredients
      %th{colspan: 2} Creator
  %tbody
    - @recipes.each do |recipe|
      %tr
        %td.name
          = link_to recipe.name, recipe_path(recipe), class: 'recipe-link'
          = recipe.fork_origin_icon_link
        %td= recipe.tag_links('<br>', 'shaded')
        %td= recipe.ingredient_links('<br>', 'shaded')
        %td= recipe.created_by('shaded')
        %td.recipes-list-item-image
          = link_to recipe_path(recipe), class: 'recipe-link image-red-mask pull-right' do
            = image_tag recipe.image.url
      = render "recipes/modal", recipe: recipe
