%table.table.recipes
  %thead
    %tr
      %th Title
      %th  Tags
      %th  Ingredients
      %th{ colspan: 2 }
        Creator
        %div.pull-right
          %a.shaded Grid
          %a.selected List
  %tbody
    - @recipes.each do |recipe|
      %tr
        %td.name{ style: 'width: 20%;' }
          = link_to recipe.name, recipe_path(recipe), class: 'recipe-link'
          = recipe.fork_origin_icon_link
        %td{ style: 'width: 20%;' }= recipe.tag_links('<br>', 'shaded')
        %td{ style: 'width: 20%;' }= recipe.ingredient_links('<br>', 'shaded')
        %td{ style: 'width: 10%;' }= recipe.created_by('shaded')
        %td.recipes-list-item-image{ style: 'width: 30%;' }
          = link_to recipe_path(recipe), class: 'recipe-link image-red-mask' do
            %div{ style: 'background-image: url(' + recipe.image.url + ')' }
      -if recipe.fork_origin
        .modal.fade{"aria-hidden" => "true", "aria-labelledby" => "parentRecipeLabel", :role => "dialog", :tabindex => "-1", :class => "fork_origin#{recipe.fork_origin.id}"}
          .modal-dialog{:role => "document"}
            .modal-content
              .modal-header
                %h5#parentRecipeLabel.modal-title= recipe.fork_origin_link
              .modal-body
                = link_to recipe_path(recipe.fork_origin), class: 'recipe-link' do
                  = image_tag recipe.fork_origin.image.url, class: 'img-thumbnail img-xs'
