%table.table.recipes
  %thead
    %tr
      %th Title
      %th Tags
      %th Ingredients
      %th{colspan: 2} Creator
  %tbody
    - @recipes.each do |recipe|
      %tr
        %td.name
          = link_to recipe.name, recipe_path(recipe), class: 'recipe-link'
          = recipe.fork_origin_icon_link
        %td= recipe.tag_links('<br>', 'shaded')
        %td= recipe.ingredient_links('<br>', 'shaded')
        %td= recipe.created_by('shaded')
        %td.recipes-list-item-image
          = link_to recipe_path(recipe), class: 'recipe-link image-red-mask pull-right' do
            = image_tag recipe.image.url
      -if recipe.fork_origin
        .modal.fade{"aria-hidden" => "true", "aria-labelledby" => "parentRecipeLabel", :role => "dialog", :tabindex => "-1", :class => "fork_origin#{recipe.fork_origin.id}"}
          .modal-dialog{:role => "document"}
            .modal-content
              .modal-header
                %h5#parentRecipeLabel.modal-title= recipe.fork_origin_link
              .modal-body
                = link_to recipe_path(recipe.fork_origin), class: 'recipe-link' do
                  = image_tag recipe.fork_origin.image.url, class: 'img-thumbnail img-xs'
