%nav.navbar.navbar-default{:role => "navigation"}
  .navbar-header
    %button.navbar-toggle{"data-target" => ".navbar-collapse", "data-toggle" => "collapse", :type => "button"}
      %span.icon-bar
      %span.icon-bar
      %span.icon-bar
  .navbar-collapse.collapse
    %ul.nav.navbar-nav
      =link_to recipes_path do
        %li.navbar-brand.glyphicon.glyphicon-search
      %li= link_to "Add Recipe", new_recipe_path, class: (params[:controller] == 'recipes' && (params[:action] == 'new' || params[:action] == 'create')) ? 'navbar-brand active' : 'navbar-brand'
    %ul.nav.navbar-nav.navbar-center
      %li
        = link_to root_path, class: 'navbar-brand-logo' do
          = image_tag 'logo.svg'
    %ul.nav.navbar-nav.navbar-right
      %li= link_to current_user.name, user_path(current_user), class: (params[:controller] == 'users' && params[:action] == 'show') ? 'active' : '' if current_user
      // JS click event tied to .scrollToBottom, scroll.js.coffee
      %li.scrollToBottom= link_to "About", "#"
      - if current_user
        %li= link_to 'Sign out', destroy_user_session_path, method: 'delete'
      - else
        %li= link_to 'Log in', new_user_session_path
